%main.shops-show
  .l-container
    = render "shared/sidebar"
    .l-content
      .l-content__head
        .title
          ラーメン
        .sub-title
          .shop-jiro
            二郎　
          .shop-name
            = @shop.name
            店
      .l-content__shop
        .shop-content
          = @shop.address
        .shop-content
          = safe_join(@shop.horiday.split("\n"),tag(:br))
        .shop-content
          = safe_join(@shop.opening_hours.split("\n"),tag(:br))
        .shop-content
          = image_tag @shop.map.url
        #map{:style => "width: 600px; height: 500px;"}
        :javascript
          handler = Gmaps.build('Google');
              handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers([{
                  "lat": #{@shop.latitude},
                  "lng": #{@shop.longitude},
                  "infowindow": '<p>#{@shop.name}</p><p>#{@shop.address}</p><p>#{link_to "Googleマップで見る" ,"https://www.google.com/maps/search/?api=1&query=#{@shop.latitude}%2C#{@shop.longitude}".html_safe,target: "_blank"}</p>'
                }]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(17);
              });
        .shop-content
          = safe_join(@shop.menu.split("\n"),tag(:br))
        .shop-content
          = safe_join(@shop.rule.split("\n"),tag(:br))
        .shop-noodleimage
          = image_tag @shop.noodle_images.first.image.to_s
        .shop-content
          = safe_join(@shop.detail.split("\n"),tag(:br))
        .shop-chat
          .messages
            = render @messages
          .form
            = form_with model: [@shop, @message] , url: shop_messages_path(@shop.id) do |f|
              = f.text_field :content, class: 'form__message', placeholder: 'ログインユーザーのみ使用できます'
              .form__mask
                = f.label :image, class: 'form__mask__image' do
                  = fa_icon 'f030', class: 'fas fa-camera'
                  = f.file_field :image, class: 'hidden'
              = f.submit '送信', class: 'form__submit'
