.sidebar
  .login
  - if user_signed_in?
    .login__name
      = current_user.nickname
    = link_to "ログアウト", destroy_user_session_path, method: :DELETE, class: 'btn'
  - else
    = link_to "ログイン", new_user_registration_path, method: :GET, class: 'btn'
  .jiro-now
    .title
      ラーメン二郎
      .shopname
        - @shops.each do |shop|
          = link_to shop.name + "店", shop
          - if user_signed_in?
            - if current_user == @user || current_user.admin?
              %br/
          - if user_signed_in?
            - if current_user == @user || current_user.admin?
              = link_to '編集', edit_shop_path(shop)
          - if user_signed_in?
            - if current_user == @user || current_user.admin?
              = link_to '削除', shop_path(shop), method: :DELETE
          %br/

  -# .jiro-previous
  -#   .title
  -#     旧ラーメン二郎
  -#     .shopname
  -#       %ul 富士丸神谷本店
  -#       %ul 虎ノ門店

  -# .jiro-inspire
  -#   .title
  -#     厳選二郎系
  -#     .shopname
  -#       %ul 陸
  -#       %ul いごっそう

  .other
    .title
      その他
    .title
    = link_to "ホーム画面", root_path, method: :GET, class: 'shoplist-home'
    .title
      - if user_signed_in?
        = link_to "店舗新規作成", new_shop_path, method: :GET, class: 'shoplist-edit'